$prebig_device:'(min-width: 1396px) and (max-width: 1536px) ';

$mid_device:'(min-width: 1000px) and (max-width: 1200px)';

$tablet_device:'(min-width: 771px) and (max-width: 992px)';

$tab_device:'(max-width: 769px)';

$mobile_device:'(max-width: 480px)';

$smallmobile_device:'(max-width: 370px)';